<footer class="footer">
    <div class="footer__container footer__container--bottom">
        {{ menus.footer.tail }}
        <div class="footer__copyright">
            &copy; 1992 - {{ 'now' | date('Y') }} <a class="" href="{{ site.url }}">{{ site.name }}</a>. All Rights
            Reserved.
        </div>
    </div>
</footer>
